body {
  font-family: Helvetica, sans-serif;
  background-color: black;
  color: white;
  line-height: 1.5;
  font-size: 1.25rem;
  padding: 2rem;
}

section,
footer {
  max-width: 50rem;
  margin: auto;
}

.section-header {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

footer {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

a,
button {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border: none;
  border-bottom: 4px solid #0e496b;
  display: inline-block;
  color: white;
  background-color: #2977a5;
  text-decoration: none;
}
button div {
  pointer-events: none;
}
button div button {
  pointer-events: all;
}

a:hover,
button:hover {
  background-color: #4297c8;
}

.inline-button {
  padding: 0 0.5rem;
}

#navigation {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  min-height: 6.25rem;
  max-width: 35rem;
  margin: auto;
}

.shrimps-logo {
  margin: auto;
  margin-bottom: 1rem;
  display: block;
  max-width: 13rem;
}

.answer {
  font-style: italic;
}

time {
  padding-right: 2.5rem;
  display: inline-block;
}

time,
.question,
.show-name {
  font-weight: bold;
  color: #ea4d78;
}

.where {
  font-style: italic;
}

.unstyled-list {
  padding: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.bordered-list li {
  position: relative;
  border-radius: 7px;
  border: 1px solid #ea4d78;
  padding: 1rem;
}

#workshops .bordered-list li,
#next-workshop.bordered-list li,
.bordered-list li.past-workshop {
  border-color: #febc29;
}

#workshops time,
#next-workshop time,
.bordered-list li.past-workshop time {
  color: #febc29;
}

.row-list {
  flex-direction: row;
  flex-wrap: wrap;
}

.upcoming-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
}
.upcoming-container > div {
  width: 100%;
}

.upcoming-container .bordered-list .watch {
  min-height: 7.5rem;
  text-align: center;
}

.next-show-header {
  margin-top: 0;
  color: #ea4d78;
}

.next-workshop-header {
  margin-top: 0;
  color: #febc29;
}

.highlight {
  color: #febc29;
  font-weight: bold;
}

.toggle-calendar {
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 2rem;
  height: 2rem;
}
.toggle-calendar div {
  padding: 1rem;
  background-color: #000000c0;
  z-index: 2;
  top: 3rem;
  right: 0;
  position: absolute;
  display: flex;
  gap: 1rem;
  animation: expand-down 0.1s ease-out forwards;
}

#contact li {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

#contact li .highlight {
  word-break: break-word;
}

.time-until {
  font-weight: normal;
}

.dance {
  animation: danceB 2s ease-in-out infinite;
}

.dance:first-child {
  animation: danceA 1s ease-in-out infinite;
}

.shrimp.dance {
  animation-play-state: paused;
}

.shrimp.dance.playing {
  animation-play-state: running;
}

@keyframes expand-down {
  0% {
    opacity: 0;
    transform: translate(0, -2rem);
  }
  100% {
    opacity: 1;
  }
}

@keyframes danceB {
  0%,
  12% {
    transform: rotateZ(0);
  }

  40% {
    transform: rotateZ(0.1turn);
  }
  50% {
    transform: rotateZ(-0.1turn);
  }
  55% {
    transform: rotateZ(-0.12turn);
  }

  72% {
    transform: translateY(-200%) rotateZ(0.5turn);
  }

  88%,
  100% {
    transform: rotateZ(1turn);
  }
}

@keyframes danceA {
  0% {
    transform: rotateZ(0);
  }
  50% {
    transform: translate(0, -100%) rotateZ(-0.1turn) translate(-100%, 0%)
      rotateZ(-0.1turn);
  }
  100% {
    transform: rotateZ(0);
  }
}

@media (min-width: 768px) {
  .upcoming-container {
    flex-wrap: nowrap;
  }
  .upcoming-container > div {
    max-width: 50%;
  }
}
